.botao {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: var(--text-primary);
    border: 3px solid var(--border-primary);
    border-radius: 4px;
    padding: 0.3rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: var(--primary-700);
}

.botao:disabled {
    background-color: var(--gray-400);
    cursor: not-allowed;
}

.botao.active {
    background-color: var(--primary-800);
    color: var(--background);
    border-color: var(--primary-800);
    cursor: not-allowed;
}

.botao .icone {
    font-size: 1rem;
    line-height: 1;
}

.botao .texto {
    font-size: .8rem;
    font-weight: 600;
}
